
movielovers/target/m2e-wtp/web-resources/META-INF/maven/com.movielovers/movielovers/pom.properties

movielovers/target/classes/com/movielovers/model/Movie.class

movielovers/target/classes/com/movielovers/model/WantedUserMovie.class

movielovers/target/classes/com/movielovers/model/WatchedUserMovie.class

movielovers/target/classes/com/movielovers/omdb/controller/OmdbConsumerController.class

movielovers/target/classes/com/movielovers/business/MovieBusinessImpl.class

movielovers/target/classes/com/movielovers/model/ListMovie.class

*.class

movielovers/.project

movielovers/.classpath

movielovers/.settings/
